<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="static/index.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="static/index.js"></script>
    <style>
        body {
            background-color: black;
        }
        html {
            height: 100%
        }
    </style>
</head>
<body> 
<center>
    <div id="card" style="color: white; background-color : white; margin-top: 5%; margin-left:2%; margin-right:2%; padding: 20px; border-color: #9c9c9c; border-width: 5px; border-style: solid;">
        <div id="logo" style="padding:15px;">
            <img src="static/logo.png">
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form id="upload-form" action="{{ url_for('get_html') }}" method="POST" enctype="multipart/form-data" style="padding:15px;">
                    <input id="file-picker" class="btn btn btn-lg text-center" style="background-color: #9c9c9c" type="file" name="file" accept="image/*" required multiple>
                        <div for="file"></div>               
                        <br> 
                    <button class="btn btn-primary btn-lg" type="submit" id="upload-button" target="_blank"><span class="glyphicon glyphicon-edit"></span>&nbsp;Render HTML</button>
                    <input class="btn btn-warning btn-lg" type="reset">
                </form>     
            </div>
            <div class="col-sm-6">
                <form id="upload-form" action="{{ url_for('download_html') }}" method="POST" enctype="multipart/form-data" style="padding:15px;">
                    <input id="file-picker" class="btn btn btn-lg text-center" style="background-color: #9c9c9c" type="file" name="file" accept="image/*" required multiple>
                    <div for="file"></div>               
                    <br> 
                    <button class="btn btn-primary btn-lg" type="submit" id="upload-button" ><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;Download HTML</button>
                    <input class="btn btn-warning btn-lg" type="reset">
                </form>
                </div>
            </div>
        </div>
    </div>  
</center>

<script>
    $("#file-picker").change(function(){
        var input = document.getElementById('file-picker');
        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }
        }
    } );
</script>
</body>
</html>